<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElasTest | ECE</title>
</head>
<body>
<form method="post" action="/costmodel">
    <table>
        <tbody>
        <tr>
            <th>Create Cost Model</th>
            <th></th>
            <br>
        </tr>
        <tr>
            <td>Cost Model Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Cost Model Description</td>
            <td><input type="text" name="description"></td>
        </tr>
        </tbody>
    </table>
    <table id="fixTable">
        <tbody>
        <tr>
            <th>
                Fix Costs
            </th>
            <th>
                <button type="button" onclick="addFixRow()">Add Row</button>
            </th>
        </tr>
        <tr>
            <td><input type="text" name="fixNames"></td>
            <td><input type="number" name="fixValues"></td>
        </tr>
        </tbody>
    </table>
    <table id="varTable">
        <tbody>

        <tr>
            <th>
                Variable Costs
            </th>
            <th>
                <button type="button" onclick="addVarRow()">Add Row</button>
            </th>
        </tr>
        <tr>
            <td><input type="text" name="varNames"></td>
            <td><input type="number" name="varValues"></td>
        </tr>
        </tr>
        </tbody>
    </table>
    <button id="createCostModel">Add Cost Model</button>
</form>

<script>
    function addFixRow() {
        var table = document.getElementById("fixTable");
        var row = table.insertRow(table.size);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = "<input type=\"text\" name=\"fixNames\">";
        cell2.innerHTML = "<input type=\"number\" name=\"fixValues\">";
    }

    function addVarRow() {
        var table = document.getElementById("varTable");
        var row = table.insertRow(table.size);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = "<input type=\"text\" name=\"varNames\">";
        cell2.innerHTML = "<input type=\"number\" name=\"varValues\">";
    }
</script>
</body>
</html>
