<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/index.js"></script>
    <title>ElasTest | ECE</title>

</head>
<body>
<form method="get" action="/estimate">
    <table>
        <tr>
            <td th:each="estimation : ${estimations}">
                <table>
                    <thead>
                        <th th:text="${estimation.key}"></th>
                    </thead>
                    <tbody>
                        <tr th:with="current=${estimation.value}">
                            <td th:text="${current}"></td>
                            <tr th:each="cost : ${current}">
                                <td th:text="${cost.key}"></td>
                                <td th:text="${cost.value}"></td>
                            </tr>

                            <!--<td th:text="${current.deployment}"></td>-->
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>

