<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
    <title>ElasTest | ECE</title>
</head>
<body>
<form method="post" action="/estimation">
    <table>
        <thead>
        <tr>
            <th>T-Job</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
        <tr th:each="test: ${tests}">
            <td th:text="${test.name}">testId</td>
            <td>
                <input type="radio" name="testId" th:value="${test.id}">
            </td>
        </tr>
        </td>
        <td>
            <tr th:text="${estimate}"></tr>
        </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <table>
        <thead>
        <tr>
            <th>Cost Model</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
        <tr th:each="costModel: ${costModels}">
            <td th:text="${costModel.description}">planId</td>
            <td>
                <input type="radio" name="costModelId" th:value="${costModel.id}">
            </td>
        </tr>
        </td>
        <td>
            <button id="estimateButton">Estimate</button>
        </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>