<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="mdc-typography">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
    <script src="/js/index.js"></script>
    <title>ElasTest | ECE</title>


</head>
<body style="background-color:#dedede;">
<form method="get" action="/">

    <div style="background-color:#dedede;">
        <div class="card" style="padding:15px; background-color: #f5f5f5;">
            <span><h4 class="card-title "><b>ECE | Cost Estimation</b></h4></span>
        </div>
        <div class="card-deck" style="padding-top: 15px;">
            <div th:each="estimation : ${estimations}" layout="column" layout-gt-sm="row">
                <div class="container" style="width: 40rem;">
                    <div class="card">
                        <div class="pad-right-sm card-header" layout="row" layout-align="start center">
                            <!----><span _ngcontent-c10="">
                    <h4 class="card-title " th:text="${estimation.key}"><b>Estimation Key</b></h4>
                    </span>
                        </div>

                        <div class="card-body">
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="padding: 15px;">
                                            <span>Accounted Field</span>
                                        </th>
                                        <th style="padding: 15px;">
                                            <span>Price</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="estim : ${estimation.value}">
                                        <td th:if="${estim.key} != 'Cost Estimation'" style="padding-left: 15px; padding-right: 15px;" th:text="${estim.key}"></td>
                                        <td th:if="${estim.key} != 'Cost Estimation'" style="padding-left: 15px; padding-right: 15px;" th:text="${estim.value}"></td>
                                        <th th:if="${estim.key} == 'Cost Estimation'" style="padding-left: 15px; padding-right: 15px;" th:text="${estim.key}"></th>
                                        <th th:if="${estim.key} == 'Cost Estimation'" style="padding-left: 15px; padding-right: 15px;" th:text="${estim.value}"></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div style="padding: 15px;">
            <button type="submit" class="btn btn-outline-warning" style="background-color: #ffac2f; color: white; border-color: antiquewhite#ffac2f;">Back</button>
        </div>
    </div>
</form>
</body>
</html>
