<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
    <title>ElasTest | ECE</title>
</head>
<body style="background-color:#dedede;">
<form method="post" action="/tJobEstimation">
    <div style="background-color:#dedede;">
        <div class="card" style="padding:15px; background-color: #f5f5f5;">
            <span><h4 class="card-title "><b>ECE | TJob Selection</b></h4></span>
        </div>

        <div class="card-deck" style="padding-top: 15px;">
            <div class="container" style="width: 40rem;">
                <div class="card">
                    <div class="pad-right-sm card-header" layout="row" layout-align="start center">
                        <!----><span _ngcontent-c10="">
                    <h4 class="card-title "><b>Select a TJob to estimate its cost</b></h4>
                    </span>
                    </div>

                    <div class="card-body">
                        <div>
                            <table>
                                <thead>
                                <tr>
                                    <th style="padding: 15px;"><span>Existing T-Jobs</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                <tr th:each="tjob: ${tjobs}">

                                    <td>
                                        <label class="btn btn-secondary" style="width: 100%">
                                            <div align="right">
                                                <span th:text="${tjob.name}" style="padding-left: 15px; padding-right: 15px;">testId</span>
                                                <input type="radio" name="tJobId" th:value="${tjob.id}">
                                            </div>
                                        </label>
                                    </td>
                                    <!--<td>-->
                                    <!--<label class="btn btn-secondary">-->
                                    <!--<input type="radio" name="tJobId" th:value="${tjob.id}">-->
                                    <!--</label>-->
                                    <!--</td>-->
                                </tr>
                                </td>
                                <td>
                                    <div style="padding: 15px;">
                                        <button type="submit" class="btn btn-outline-warning" style="background-color: #ffac2f; color: white; border-color: antiquewhite#ffac2f;">Estimate</button>
                                    </div>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>